.bg-image {
  background-attachment: fixed;
}

.art-degrade {
    background: linear-gradient(to right, #36ecde, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

